# Hugging Face Stack (Updated for compatibility)
transformers==4.41.2
accelerate==0.30.1
datasets==2.19.0
tokenizers==0.19.1
trl==0.8.6
peft==0.10.0
evaluate==0.4.2

# Other Dependencies
scikit-learn==1.4.2
wandb
protobuf==4.25.3
sentencepiece==0.2.0
bitsandbytes==0.43.0